main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-items: flex-start;
}

ul,
dl {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 0.5rem;
}

ul {
    flex-direction: row;
}

dl {
    flex-direction: column;
}

li,
dd {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    flex-direction: column;
    width: 5rem; height: 2.5rem;
    border-radius: 0.25rem;
}

dd {
    flex-direction: row;
}

dt {
    width: 4rem;
}